<div class="left-bar">
  <div class="forecast-container">
    <h1>{{ currentCity }}</h1>
    <h2>7 days forecast</h2>
    <ul class="scrolling-wrapper">
      <li *ngFor="let forecast of forecasts" class="card">
        <img
          src="https://openweathermap.org/img/wn/{{ forecast.icon }}@2x.png"
          alt=""
        />
        <div>
          <div class="day">{{ forecast.day }}</div>
          <div class="main">{{ forecast.main }}</div>
          <div class="temp">{{ forecast.temp }}°</div>
        </div>
      </li>
    </ul>
  </div>
</div>
